body{
  background-image: url("bg1.jpg");
  background-size: cover;
}

.login{
  position: absolute;
  top:50%;
  left:50%;
  /* translate(x,y) xは水平、yは垂直 */
  transform: translate(-50%,-50%);
  width: 350px;
  height: 300px;
  /* 背景を半透明に設置する */
  background-color:rgba(230, 230, 221, 0.5);
  border-radius: 10px;
  text-align: center;
}

.label{
  font-size: 14px;
  line-height: 50px;
  padding:8px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#4a77d4;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 70px;
  height:50px
}

h1{
  color:rgb(82, 133, 204);
  text-shadow: rgb(132, 149, 165) 1px 0 10px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  font-size: 42px;
  
}

.input{
  width:200px;
  height: 28px;
  color:gray;
  border:1px solid #fff;
  margin-bottom: 0.2em;
  line-height: 0.2px;
}

#btn_login{
  margin: 5px 30px;
  color: whitesmoke;
  background-color: #4a77d4;
  border-color: #597fc5;
  border-radius: 5px;
  width:120px;
  height: 30px;
  font-size: 14px;
  float:left;
}

#forgetPw{
  font-size: 12px;
  color: white;
  position: relative;
  float:right;
  margin:10px 25px;
  text-decoration: none;
}

#forgetPw:hover{
  color: #4a77d4;
  
}
